#root {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

@media (max-width: 768px) {
  body {
    overflow: hidden;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }
}